*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 75vw;
    height: 80vh;
    overflow: hidden;
    background: wheat;
    border-radius: 20px;
    border: none;
}
.radio-auto{
    display: none;
}
.listimg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}
.listimg div{
    object-fit: cover;
    align-items: center;
    height: 100%;
    width: 100%;
}
.listimg div img{
    width: 80vw;
    height: 80vh;
}
.label-auto{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
}
.label-auto .auto{
    margin: 0 20px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid green;
}